<div class="clientsslider__clients">
  <div class="app__limiter clientsslider__clients-limiter">
    <h2 class="clientsslider__clients-heading">Клиенты</h2>
    <h3 class="clientsslider__clients-subheading">Наши клиенты</h3>
    <div class="multiple-items clientsslider__clients-slider">
      <div class="clientsslider__clients-slider-item">
        <img src="/assets/slidebegemot.jpg" alt="begemot">
      </div>
      <div class="clientsslider__clients-slider-item">
        <img src="/assets/sliderosbank.jpg" alt="rosbank">
      </div>
      <div class="clientsslider__clients-slider-item">
        <img src="/assets/slidesber.jpg" alt="sber">
      </div>
      <div class="clientsslider__clients-slider-item">
        <img src="/assets/slidemosc.jpg" alt="mosc">
      </div>
      <div class="clientsslider__clients-slider-item">
        <img src="/assets/slidesber.jpg" alt="sber">
      </div>
      <div class="clientsslider__clients-slider-item">
        <img src="/assets/slidemosc.jpg" alt="mosc">
      </div>
      <div class="clientsslider__clients-slider-item">
        <img src="/assets/sliderosbank.jpg" alt="rosbank">
      </div>
      <div class="clientsslider__clients-slider-item">
        <img src="/assets/slidebegemot.jpg" alt="begemot">
      </div>
    </div>
  </div>
</div>