<footer class="footer">
  <div class="footer__head">
    <div class="app__limiter footer__head-limiter">
      <a href="/pages/main.html" class="footer-logo"></a>
      <div class="footer__head-contacts">
        <a class="footer__head-contacts-post" href="">apelsinbox@mail.ru</a>
        <button class="footer__head-contacts-ordercall" type="button" data-popup-id="callback">Заказать звонок</button>
        <a href="tel:88002505351" class="footer__head-contacts-tel"><span>8 800</span> 250-53-51</a>
      </div>
    </div>
  </div>
  <div class="footer__subfooter">
    <div class="app__limiter footer__subfooter-limiter">
      <div class="footer__subfooter-copyright">
        &copy; 2014 Апельсин
      </div>
      <div class="footer__subfooter-city">
        г.Елец, ул. Свердлова, 143
      </div>
    </div>
  </div>
</footer>
{% include 'includes/blocks/popups.njk' %}