<div class="app__limiter main__about-limiter">
  <h1 class="main__about-namecompany">Апельсин</h1>
  <div class="main__about-description user-input">
    <h2>Рекламное агенство «Апельсин»</h2>
    <p">Мы экспериментируем с современными материалами и внедряем передовые
      производственные технологии. Постоянно стремимся к сокращению издержек, чтобы поддерживать приемлемые цены.
      Закупаем высокотехнологичное оборудование и выпускаем новую продукцию. Отслеживаем тенденции рынка и
      соответствуем требованиям времени.Для того, чтобы завоевать это доверие, нашим сотрудникам потребовалось
      более 10 лет. Мы смогли объяснить потребителям, почему им выгодно с нами сотрудничать. Вне зависимости от
      стоимости заказа, гарантируем индивидуальный подход к каждому клиенту. Сегодня на нашем сайте Вы можете за
      5 минут узнать, что мы можем для Вас изготовить и какие услуги Вам выгодны.</p>
    
  </div>
  <div class="main__about-qualities">
    <div class="main__about-qualities-item">
      <div class="main__about-qualities-item-img">
        <img src="/assets/billboard.png" alt="billboard">
      </div>
      <h4 class="main__about-qualities-item-heading">Особый подход</h4>
    </div>
    <div class="main__about-qualities-item">
      <div class="main__about-qualities-item-img">
        <img src="/assets/quality.png" alt="quality">
      </div>
      <h4 class="main__about-qualities-item-heading">Высокое качество</h4>
    </div>
    <div class="main__about-qualities-item">
      <div class="main__about-qualities-item-img">
        <img src="/assets/calendar.png" alt="calendar">
      </div>
      <h4 class="main__about-qualities-item-heading">Реальные сроки</h4>
    </div>
    <div class="main__about-qualities-item">
      <div class="main__about-qualities-item-img">
        <img src="/assets/briefcase.png" alt="briefcase">
      </div>
      <h4 class="main__about-qualities-item-heading">Реальное портфолио</h4>
    </div>
  </div>
</div>