<div class="main__progress">
  <div class="main__progress-block">
    <div class="main__progress-qualityassur-img">
      <img src="/assets/cup.png" alt="cup">
    </div>
    <div class="main__progress-block-content">
      <div class="main__progress-heading">Гарантия качества</div>
      <div class="main__progress-subheading">предоставляемых услуг</div>
    </div>
  </div>
  <div class="main__progress-block">
    <div class="main__progress-completeprojects-img">
      <img src="/assets/folder.png" alt="folder">
      <span>800</span>
    </div>
    <div class="main__progress-block-content">
      <div class="main__progress-heading">Более 800</div>
      <div class="main__progress-subheading">реализованных проектов</div>
    </div>
  </div>
  <div class="main__progress-block">
    <div class="main__progress-quantityclients-img">
      <img src="/assets/announcement.png" alt="announcement">
      <span>150</span>
    </div>
    <div class="main__progress-block-content">
      <div class="main__progress-heading">150 довольных клиентов</div>
    </div>
  </div>
</div>