<div class="main__interestingoffers">
  <h3 class="heading main__interestingoffers-heading">Интересные предложения</h3>
  <div class="main__interestingoffers-blocks">
    <div class="main__interestingoffers-block-item">
      <div class="main__interestingoffers-block-item-num">
        01
      </div>
      <div class="main__interestingoffers-block-item-offers">
        Скидки за слив конкурентов
      </div>
    </div>
    <div class="main__interestingoffers-block-item">
      <div class="main__interestingoffers-block-item-num">
        02
      </div>
      <div class="main__interestingoffers-block-item-offers">
        Решаете быстро - платите меньше
      </div>
    </div>
    <div class="main__interestingoffers-block-item">
      <div class="main__interestingoffers-block-item-num">
        03
      </div>
      <div class="main__interestingoffers-block-item-offers">
        Если нужно<br> еще &laquo;Вчера&raquo;
      </div>
    </div>
    <div class="main__interestingoffers-block-item">
      <div class="main__interestingoffers-block-item-num">
        04
      </div>
      <div class="main__interestingoffers-block-item-offers">
        Большие скидки для крупных объектов
      </div>
    </div>
  </div>
</div>