.main__about-limiter {
  text-align: center;
}

.main__about-namecompany {
  color: rgba(#d1d1d1, .47);
  font-size: 104px;
  font-weight: 700;
  line-height: 44.49px;
  text-transform: uppercase;
}

.main__about-description {
  width: 972px;
  margin: -38px auto 58px;
}

.main__about-qualities {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 760px;
  margin: 0 auto 85px;
}

.main__about-qualities-item {
  width: 175px;
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}

.main__about-qualities-item-img {
  display: flex;
  align-items: center;
  width: 46px;
  height: 46px;
  background: #fba400;
  border-radius: 50%;
  margin: 0 auto 10px;
  & img {
    display: block;
    margin: auto;
  }
}

@media #{$media1175} {
  .main__about-limiter {
    .main__about-description {
      width: 100%;
    }
  }
}

@media #{$media850}{
  .main__about-limiter {

    .main__about-namecompany {
      font-size: 72px;
    }
    .main__about-description {
      margin: -48px auto 58px;
    }

    .main__about-clients-subheading {
      margin-top: -48px;
      font-size: 32px;
    }

    .main__about-description-heading {
      font-size: 32px;
      line-height: 1;
    }

    .main__about-description-content {
      margin-bottom: 20px;
    }

    .main__about-description-content {
      font-size: 16px;
    }

    .main__about-qualities {
      width: 100%;
      flex-wrap: wrap;
      margin: 0 auto 30px;
    }

    .main__about-qualities-item {
      min-width: 47%;
      max-width: 47%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

@media #{$media650} {
  .main__about-limiter {
    .main__about-namecompany {
      font-size: 58px;
    }

    .main__about-description {
      margin: -48px auto 30px;
    }
    .main__about-qualities-item {
      min-width: 100%;
      max-width: 100%;
    }
  }
}