{% extends 'includes/layouts/main.njk' %}

{% block title %}Контакты{% endblock %}

{% block content %}
  {% include 'includes/blocks/header.njk' %}

  <div class="app__content contacts">
    
  </div>

  {% include 'includes/blocks/footer.njk' %}
{% endblock %}